# Flutter & Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
**/build/
*.apk
*.aab

# Android & Gradle
.gradle/
**/android/.gradle/
**/android/app/debug/
**/android/app/release/
local.properties
key.properties
*.jks
*.keystore
*.iml

# IDE & Config
.idea/
.vscode/
*.swp
*.log
*.tmp
.env
.DS_Store
Thumbs.db

# Archives
*.zip
*.tar.gz
